<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/doctor-Selection.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <h2>Please Select a Doctor</h2>
        </div>

        <div class="list">

            <div class="Neurology">
                <div class="img1"></div>
                <label for="">Neurology Department</label>
                <span></span>
                <div class="first">
                    <div class="first-img"></div>
                    <div class="first-info">
                        <h4>Dr. -------------</h4>
                        <p style="font-size: 12px;">Neuro-Muscular</p>
                    </div>
                    <div class="request-btn">
                        <input type="button" value="Request">
                    </div>
                </div>
                <div class="second">
                    <div class="second-img"></div>
                    <div class="second-info">
                        <h4>Dr. -------------</h4>
                        <p style="font-size: 12px;">Neuro-Surgeon</p>
                    </div>
                    <div class="request-btn">
                        <input type="button" value="Request">
                    </div>
                </div>
            </div>

            <div class="Cardiology">
                <div class="img2"></div>
                <label for="">Cardiology Department</label>
                <span></span>
                <div class="first">
                    <div class="first-img"></div>
                    <div class="first-info">
                        <h4>Dr. -------------</h4>
                        <p style="font-size: 12px;">Transplantation</p>
                    </div>
                    <div class="request-btn">
                        <input type="button" value="Request">
                    </div>
                </div>
                <div class="second">
                    <div class="second-img"></div>
                    <div class="second-info">
                        <h4>Dr. -------------</h4>
                        <p style="font-size: 12px;">Echocardiography</p>
                    </div>
                    <div class="request-btn">
                        <input type="button" value="Request">
                    </div>
                </div>
                <div class="third">
                    <div class="third-img"></div>
                    <div class="third-info">
                        <h4>Dr. -------------</h4>
                        <p style="font-size: 12px;">Advance Heart Failure</p>
                    </div>
                    <div class="request-btn">
                        <input type="button" value="Request">
                    </div>
                </div>
            </div>

            <div class="Radiology">
                <div class="img3"></div>
                <label for="">Radiology Department</label>
                <span></span>
                <div class="first">
                    <div class="first-img"></div>
                    <div class="first-info">
                        <h4>Dr. -------------</h4>
                        <p style="font-size: 12px;">Sonography</p>
                    </div>
                    <div class="request-btn">
                        <input type="button" value="Request">
                    </div>
                </div>
                <div class="second">
                    <div class="second-img"></div>
                    <div class="second-info">
                        <h4>Dr. -------------</h4>
                        <p style="font-size: 12px;">MRI</p>
                    </div>
                    <div class="request-btn">
                        <input type="button" value="Request">
                    </div>
                </div>
                <div class="third">
                    <div class="third-img"></div>
                    <div class="third-info">
                        <h4>Dr. -------------</h4>
                        <p style="font-size: 12px;">CT-Scan</p>
                    </div>
                    <div class="request-btn">
                        <input type="button" value="Request">
                    </div>
                </div>
            </div>

            <div class="Oncology">
                <div class="img4"></div>
                <label for="">Oncology Department</label>
                <span></span>
                <div class="first">
                    <div class="first-img"></div>
                    <div class="first-info">
                        <h4>Dr. -------------</h4>
                        <p style="font-size: 12px;">Surgical Oncologist</p>
                    </div>
                    <div class="request-btn">
                        <input type="button" value="Request">
                    </div>
                </div>
                <div class="second">
                    <div class="second-img"></div>
                    <div class="second-info">
                        <h4>Dr. -------------</h4>
                        <p style="font-size: 12px;">Radiation Oncologist</p>
                    </div>
                    <div class="request-btn">
                        <input type="button" value="Request">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>