<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/all.css" type="text/css" media="all">
    <link rel="stylesheet" href="stylesheets/hospital-selection.css">
</head>
<body>
    <div class="header">
        <h1>Please Select a Hospital</h1>
    </div>
    <div class="hospital">
        <div class="inner-hospital">
            <div class="name">
                <h2>Columbia Asia Hospital</h2>
                <p>Columbia Asia is an international healthcare group operating a chain of modern hospitals across Asia. 
                    Columbia Asia Hospitals Pvt. Ltd.is one of the first healthcare companies to enter India through 100% 
                    foreign direct investment (FDI) route.
                </p>
                <button>SELECT</button>
            </div>

            <div class="information">
                <label id="first">
                    <h3>Address:</h3>
                <p>Block F, Gol Chakkar, Palam Vihar, Gurugram, Haryana 122 017</p>
                </label>
                
                <label id="second">
                    <h3>Contact number:</h3>
                <p>+91 124 616 5666</p>
                </label>
                
                <label id="third">
                    <h3>Email:</h3>
                <p>Columbia_Asia@gmail.com</p>
                </label>
            </div>
        </div>
    </div>
</body>
</html>