<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/Patient_Dashboard.css" type="text/css">
</head>
<body>
    <div class="main">
        <div class="intro">
            <div class="patient-img"></div>
            <span id="Patient-name">
                <h2>Patient's Name</h2>
            </span>
            <br><br>
            <span><p><b>Gender: </b>Male</p></span>
            <span><p><b>Date of Birth: </b>dd/mm/yyyy</p></span>
            <span><p><b>Address: </b>Street 5, house numbe 223, Delhi</p></span>
            <span><p><b>Phone number: </b>99892XXXXX</p></span>
            <span><p><b>Emergency Contact: </b>32244XXXXX</p></span>
            <span><p><b>Height: </b>180 cm</p></span>
            <span><p><b>Weight: </b>70 kg</p></span>
            <span><p><b>Blood type: </b>O+</p></span>

        </div>
        <div class="content">
            <div class="doctor-heading">
                <h2>Registered Doctor</h2>
            </div>
            <div class="doctor">
                <div class="doctor-img"></div>
                <div class="doctor-detail">
                    <h2>Dr. Mukesh Jain</h2>
                    <h4 style="font-weight: normal;">Surgeon</h4>
                </div>
            </div>
            <div class="medical_history-heading">
                <h2>Your Previous Medical History</h2>
            </div>
            <div class="medical_history"></div>
        </div>
        <div class="navbar">
            <button>Find a doctor</button>
        </div>
    </div>    
</body>
</html>