<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Doctor</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'doctor-Selection.css' %}">

</head>
<body>
    <div class="main">
        <div class="header">
            <h2>Please Select a Doctor</h2>
        </div>

        <div class="list">

            <div class="Neurology">
                <div class="img1"></div>
                <label for="">Neurology Department</label>
                <span></span>
                <div class="first">
                    <div class="bywhom">
                        <div class="bywhom-img"></div>
                        <div class="bywhom-info">
                            <h4>Dr. -------------</h4>
                            <p style="font-size: 12px;">Neuro-Muscular</p>
                        </div>
                        <div class="rqst-btn">
                            <input class="request-btn" type="button" value="Request">
                        </div>
                    </div>
                    <span></span>
                    <div class="paragraph">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Mollitia voluptatem accusamus molestias vitae sint labore optio quo distinctio quas facere laborum facilis,
                        commodi architecto incidunt saepe fuga adipisci expedita iusto. Distinctio, earum perferendis?
                        Eius inventore eos facilis quis fugiat iure ad molestiae nobis hic! Repudiandae dolorum laboriosam 
                        quod alias rerum voluptatum quasi voluptatem impedit eum voluptates dolore quidem nam maiores, 
                        veniam, illum autem, cumque assumenda aperiam mollitia accusamus! Quasi alias impedit 
                        nesciunt dolores consectetur voluptatibus facere repudiandae quia sapiente quod.</p>
                    </div>
                </div>

                <div class="second">
                    <div class="bywhom">
                        <div class="bywhom-img"></div>
                        <div class="bywhom-info">
                            <h4>Dr. -------------</h4>
                            <p style="font-size: 12px;">Neuro-Muscular</p>
                        </div>
                        <div class="rqst-btn">
                            <input class="request-btn" type="button" value="Request">
                        </div>
                    </div>
                    <span></span>
                    <div class="paragraph">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Mollitia voluptatem accusamus molestias vitae sint labore optio quo distinctio quas facere laborum facilis,
                        commodi architecto incidunt saepe fuga adipisci expedita iusto. Distinctio, earum perferendis?
                        Eius inventore eos facilis quis fugiat iure ad molestiae nobis hic! Repudiandae dolorum laboriosam 
                        quod alias rerum voluptatum quasi voluptatem impedit eum voluptates dolore quidem nam maiores, 
                        veniam, illum autem, cumque assumenda aperiam mollitia accusamus! Quasi alias impedit 
                        nesciunt dolores consectetur voluptatibus facere repudiandae quia sapiente quod.</p>
                    </div>
                </div>
            </div>

            <div class="Cardiology">
                <div class="img2"></div>
                <label for="">Cardiology Department</label>
                <span></span>
                <div class="first">
                    <div class="bywhom">
                        <div class="bywhom-img"></div>
                        <div class="bywhom-info">
                            <h4>Dr. -------------</h4>
                            <p style="font-size: 12px;">Neuro-Muscular</p>
                        </div>
                        <div class="rqst-btn">
                            <input class="request-btn" type="button" value="Request">
                        </div>
                    </div>
                    <span></span>
                    <div class="paragraph">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Mollitia voluptatem accusamus molestias vitae sint labore optio quo distinctio quas facere laborum facilis,
                        commodi architecto incidunt saepe fuga adipisci expedita iusto. Distinctio, earum perferendis?
                        Eius inventore eos facilis quis fugiat iure ad molestiae nobis hic! Repudiandae dolorum laboriosam 
                        quod alias rerum voluptatum quasi voluptatem impedit eum voluptates dolore quidem nam maiores, 
                        veniam, illum autem, cumque assumenda aperiam mollitia accusamus! Quasi alias impedit 
                        nesciunt dolores consectetur voluptatibus facere repudiandae quia sapiente quod.</p>
                    </div>
                </div>

                <div class="second">
                    <div class="bywhom">
                        <div class="bywhom-img"></div>
                        <div class="bywhom-info">
                            <h4>Dr. -------------</h4>
                            <p style="font-size: 12px;">Neuro-Muscular</p>
                        </div>
                        <div class="rqst-btn">
                            <input class="request-btn" type="button" value="Request">
                        </div>
                    </div>
                    <span></span>
                    <div class="paragraph">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Mollitia voluptatem accusamus molestias vitae sint labore optio quo distinctio quas facere laborum facilis,
                        commodi architecto incidunt saepe fuga adipisci expedita iusto. Distinctio, earum perferendis?
                        Eius inventore eos facilis quis fugiat iure ad molestiae nobis hic! Repudiandae dolorum laboriosam 
                        quod alias rerum voluptatum quasi voluptatem impedit eum voluptates dolore quidem nam maiores, 
                        veniam, illum autem, cumque assumenda aperiam mollitia accusamus! Quasi alias impedit 
                        nesciunt dolores consectetur voluptatibus facere repudiandae quia sapiente quod.</p>
                    </div>
                </div>
            </div>

            <div class="Radiology">
                <div class="img3"></div>
                <label for="">Radiology Department</label>
                <span></span>
                <div class="first">
                    <div class="bywhom">
                        <div class="bywhom-img"></div>
                        <div class="bywhom-info">
                            <h4>Dr. -------------</h4>
                            <p style="font-size: 12px;">Neuro-Muscular</p>
                        </div>
                        <div class="rqst-btn">
                            <input class="request-btn" type="button" value="Request">
                        </div>
                    </div>
                    <span></span>
                    <div class="paragraph">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Mollitia voluptatem accusamus molestias vitae sint labore optio quo distinctio quas facere laborum facilis,
                        commodi architecto incidunt saepe fuga adipisci expedita iusto. Distinctio, earum perferendis?
                        Eius inventore eos facilis quis fugiat iure ad molestiae nobis hic! Repudiandae dolorum laboriosam 
                        quod alias rerum voluptatum quasi voluptatem impedit eum voluptates dolore quidem nam maiores, 
                        veniam, illum autem, cumque assumenda aperiam mollitia accusamus! Quasi alias impedit 
                        nesciunt dolores consectetur voluptatibus facere repudiandae quia sapiente quod.</p>
                    </div>
                </div>

                <div class="second">
                    <div class="bywhom">
                        <div class="bywhom-img"></div>
                        <div class="bywhom-info">
                            <h4>Dr. -------------</h4>
                            <p style="font-size: 12px;">Neuro-Muscular</p>
                        </div>
                        <div class="rqst-btn">
                            <input class="request-btn" type="button" value="Request">
                        </div>
                    </div>
                    <span></span>
                    <div class="paragraph">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Mollitia voluptatem accusamus molestias vitae sint labore optio quo distinctio quas facere laborum facilis,
                        commodi architecto incidunt saepe fuga adipisci expedita iusto. Distinctio, earum perferendis?
                        Eius inventore eos facilis quis fugiat iure ad molestiae nobis hic! Repudiandae dolorum laboriosam 
                        quod alias rerum voluptatum quasi voluptatem impedit eum voluptates dolore quidem nam maiores, 
                        veniam, illum autem, cumque assumenda aperiam mollitia accusamus! Quasi alias impedit 
                        nesciunt dolores consectetur voluptatibus facere repudiandae quia sapiente quod.</p>
                    </div>
                </div>
            </div>

            <div class="Oncology">
                <div class="img4"></div>
                <label for="">Oncology Department</label>
                <span></span>
                <div class="first">
                    <div class="bywhom">
                        <div class="bywhom-img"></div>
                        <div class="bywhom-info">
                            <h4>Dr. -------------</h4>
                            <p style="font-size: 12px;">Neuro-Muscular</p>
                        </div>
                        <div class="rqst-btn">
                            <input class="request-btn" type="button" value="Request">
                        </div>
                    </div>
                    <span></span>
                    <div class="paragraph">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Mollitia voluptatem accusamus molestias vitae sint labore optio quo distinctio quas facere laborum facilis,
                        commodi architecto incidunt saepe fuga adipisci expedita iusto. Distinctio, earum perferendis?
                        Eius inventore eos facilis quis fugiat iure ad molestiae nobis hic! Repudiandae dolorum laboriosam 
                        quod alias rerum voluptatum quasi voluptatem impedit eum voluptates dolore quidem nam maiores, 
                        veniam, illum autem, cumque assumenda aperiam mollitia accusamus! Quasi alias impedit 
                        nesciunt dolores consectetur voluptatibus facere repudiandae quia sapiente quod.</p>
                    </div>
                </div>

                <div class="second">
                    <div class="bywhom">
                        <div class="bywhom-img"></div>
                        <div class="bywhom-info">
                            <h4>Dr. -------------</h4>
                            <p style="font-size: 12px;">Neuro-Muscular</p>
                        </div>
                        <div class="rqst-btn">
                            <input class="request-btn" type="button" value="Request">
                        </div>
                    </div>
                    <span></span>
                    <div class="paragraph">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Mollitia voluptatem accusamus molestias vitae sint labore optio quo distinctio quas facere laborum facilis,
                        commodi architecto incidunt saepe fuga adipisci expedita iusto. Distinctio, earum perferendis?
                        Eius inventore eos facilis quis fugiat iure ad molestiae nobis hic! Repudiandae dolorum laboriosam 
                        quod alias rerum voluptatum quasi voluptatem impedit eum voluptates dolore quidem nam maiores, 
                        veniam, illum autem, cumque assumenda aperiam mollitia accusamus! Quasi alias impedit 
                        nesciunt dolores consectetur voluptatibus facere repudiandae quia sapiente quod.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>