<html>
<head>
	<title>Sign In</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'Patient_signup.css' %}">

</head>
<body>
  <form action ="{% url 'Patient:Login' %}" method="POST">
    {% csrf_token %}
  <div class="cont">
    <div class="form sign-in">
      <h2>Sign In.</h2>
      <label>
        <span>Email</span>
        <input type="email" name="email">
      </label>
      <label>
        <span>Password</span>
        <input type="password" name="password">
      </label>
      <button class="submit" type="button">Sign In</button>
      <p class="forgot-pass">Forgot Password?</p>
    </div>
</form>
    <div class="sub-cont">
      <div class="img">
        <div class="img-text m-up">
          <h2>New here?</h2>
          <p>Join us and we'll take care of you!</p>
        </div>
        <div class="img-text m-in">
          <h2>One of us?</h2>
          <p>If you already have an account, go ahead and sign in. We've missed you!</p>
        </div>
        <div class="img-btn">
          <span class="m-up">Sign Up</span>
          <span class="m-in">Sign In</span>
        </div>
      </div>
    
    <form action ="{% url 'Patient:Signup' %}" method="POST">
        {% csrf_token %}
      <div class="form sign-up">
        <h2>Sign Up.</h2>
        <!-- <label>
          <span>Your Full Name</span>
          <input type="text">
        </label>
        <label>
          <span>Email</span>
          <input type="email">
        </label>
        <label>
          <span>Password</span>
          <input type="password">
        </label>
        <label>
          <span>Confirm Password</span>
          <input type="password">
        </label> -->
       
        {% for field in signup_form %}
        
          <label>
            <div style="margin: 25px auto 0;">
          {{ field.label_tag }}
          {{field}}
          </div>
          </label>
          <!-- {% if field.helptext %}
            <small style="color: grey";>{{ field.help_text }}</small>
          {% endif%} -->
          <label>
           <small style="color: red;"> {% for error in field.errors %}
            {{error}}
            {% endfor %}
          </small>
        </label>
          
        
        {% endfor %}

        <button type="submit" class="submit">Click to Sign Up!</button>
        </form>
      </div>
    </div>
  </div>
<script type="text/javascript" src="{% static 'Patient_signup.js' %}"></script>
</body>
</html>